In [11]:
suppressMessages(library(SingleCellExperiment))
suppressMessages(library(readr))

In [15]:
file = '../data/r_objs/real_datasets/hm-12k.rds'
tmp <- readRDS(file)
barcodes <- colnames(tmp[[1]])

info_file = '../data/cell_identity_info/hgmm_12k_analysis/gem_classification.csv'
info <- read_csv(info_file)
info <- data.frame(info)

── Column specification ────────────────────────────────────────────────────────
cols(
  barcode = col_character(),
  hg19 = col_double(),
  mm10 = col_double(),
  call = col_character()
)

In [34]:
dim(info)

[1] 12820     4

In [35]:
length(barcodes)

[1] 12820

In [43]:
rownames(info) <- t(info['barcode'])

In [59]:
head(info[barcodes,])

                   barcode            hg19  mm10 call
AAACCTGAGCCCTAAT-1 AAACCTGAGCCCTAAT-1 17946 195  hg19
AAACCTGAGCGGATCA-1 AAACCTGAGCGGATCA-1  6931  71  hg19
AAACCTGAGGGCTTCC-1 AAACCTGAGGGCTTCC-1 15550 177  hg19
AAACCTGCACAGATTC-1 AAACCTGCACAGATTC-1 36154 286  hg19
AAACCTGCAGGGTATG-1 AAACCTGCAGGGTATG-1 21623 230  hg19
AAACCTGCATGTTGAC-1 AAACCTGCATGTTGAC-1 25644 401  hg19

In [60]:
write.table(info[barcodes,], file = '../data/cell_identity_info/hgmm_12k_analysis/ORDERED_gem_classification.csv',
           quote = FALSE, sep = ",", row.names = FALSE)

In [62]:
file = '../data/r_objs/real_datasets/hm-6k.rds'
tmp <- readRDS(file)
barcodes <- colnames(tmp[[1]])

info_file = '../data/cell_identity_info/hgmm_6k_analysis/gem_classification.csv'
info <- read_csv(info_file)
info <- data.frame(info)

── Column specification ────────────────────────────────────────────────────────
cols(
  barcode = col_character(),
  hg19 = col_double(),
  mm10 = col_double(),
  call = col_character()
)

In [63]:
rownames(info) <- t(info['barcode'])
write.table(info[barcodes,], file = '../data/cell_identity_info/hgmm_6k_analysis/ORDERED_gem_classification.csv',
           quote = FALSE, sep = ",", row.names = FALSE)